* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    height: 100%;
    margin: 0;
}

:root {
    --border-radius-vert: 5px;
}

/* Header Section */

header {
    background-color: #92d3f1;
}

h1 {
    padding: 25px;
    text-align: center;
    font-size: clamp(25px,3vw,3rem);
}

/* Main Section */

.main {
    display: flex;
    min-height: 100%;
}

/* Nav Main Section */

.nav-main {
    display: flex;
    flex-direction: column;
    width: 450px;
    min-width: 300px;
    background-color: #ffe3ff;
    padding: 0px 25px;
}

nav.sidebar {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}

nav.sidebar .bar {
    font-size: 1.5rem;
    list-style: none;
    border: 3px solid #000000;
    padding: 5px 10px;
    border-radius: 6px;
}

/* Nav Project Section */

nav.sidebar .bar.project:not(.bar.project.form) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav.sidebar .bar.project h3 {
    font-size: 1.5rem;
    font-weight: normal;
}

nav.sidebar .bar.project span.project {
    border-radius: var(--border-radius-vert);
}

/* Nav Form Section */

.bar.project.form {
    padding: 0;
    border: none;
}

.bar.project-add {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.bar.project-add.active {
    position: relative;
    opacity: 1;
    pointer-events: all;
}

form.project {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    padding: 10px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

form.project.form-rename {
    border: transparent;
    padding: 0;
}

form.project.form-rename input {
    width: 100%;
}

form.project.active {
    position: relative;
    opacity: 1;
    pointer-events: all;
}

form.project input {
    padding: 5px;
    font-size: 1.35rem;
    border-radius: 6px;
    border: 3px solid #000000;
    outline: none;
}

form.project .button-group {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

form.project button {
    width: 90px;
    padding: 5px 0;
    font-size: 1.3rem;
    border: 2px solid #000000;
    border-radius: 5px;
}

.bar.project.edit-mode {
    opacity: 0;
    pointer-events: none;
    position: absolute;
}

/* Tasks Section */

.tasks-main {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 30px;
    position: relative;
    row-gap: 30px;
}

.tasks-main-header {
    position: relative;
    background-color: #ff0000;
}

.tasks-main-header h2 {
    padding: 20px;
    font-size: clamp(25px,3vw,2.5rem);
    text-align: center;
    right: -10px; 
}

.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px,1fr));
    gap: 70px;
    padding: 30px;
}

/* Task Section */

.task {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.checkbox.uncheck {
    width: 20px;
    height: 20px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.checkbox.uncheck:hover {
    background-color: #dbdbdb;
    cursor: pointer;
}

.task-main {
    display: flex;
    flex-direction: column;
    flex: auto;
    row-gap: 5px;
}

.task-title {
    font-size: 1.3rem;
}

.task-description {
    font-size: 1.15rem;
}

span.date {
    font-size: 1.15rem;
}

span.material-icons-round {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    border-radius: var(--border-radius-vert);
    padding: 2px;
}

span.material-icons-round:hover {
    background-color: #f3f3f3;
}

.options {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-vert);
    background-color: #f1f1f1;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-92px) translateX(-13px);
    opacity: 0;
    pointer-events: none;
}

.options.active {
    opacity: 1;
    pointer-events: all;
}

.options button {
    text-align: start;
    flex: auto;
    padding: 0;
    font-size: 1.4rem;
    border: transparent;
    background-color: transparent;
    padding: 8px;
    border-radius: var(--border-radius-vert);
}

.options button:hover {
    background-color: #e9e9e9;
}