* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

/* Header Section */

header {
    background-color: rgb(146, 211, 241);
}

h1 {
    padding: 25px;
    text-align: center;
    font-size: clamp(25px,3vw,3rem);
}

/* Main Section */

.main {
    display: flex;
    height: 100%;
}

/* Nav Main Section */

.nav-main {
    display: flex;
    flex-direction: column;
    width: 450px;
    min-width: 300px;
    background-color: rgb(255, 227, 255);
    padding: 0px 25px;
}

nav.sidebar ul {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 20px;
}

nav.sidebar li {
    font-size: 1.5rem;
    list-style: none;
    border: 3px solid black;
    padding: 5px;
    border-radius: 6px;
}

/* Tasks Section */

.tasks-main {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 30px;
    position: relative;
    row-gap: 30px;
}

.tasks-main-header {
    position: relative;
    background-color: red;
}

.tasks-main-header h2 {
    padding: 20px;
    font-size: clamp(25px,3vw,2.5rem);
    text-align: center;
    right: -10px; 
}

.tasks {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px,1fr));
    gap: 70px;
    padding: 30px;
}

/* Task Section */

.task {
    --border-radius: 5px;

    display: flex;
    column-gap: 20px;
    align-items: center;
}

.task-main {
    flex: auto;
}

.checkbox.uncheck {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
}

.checkbox.uncheck:hover {
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

span.date {
    font-size: 1.15rem;
}

span.material-icons-round {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    border-radius: var(--border-radius);
    padding: 2px;
}

span.material-icons-round:hover {
    background-color: rgb(243, 243, 243);
}

.options {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    background-color: rgb(241, 241, 241);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(-103px) translateX(-13px);
    padding: 8px;
    opacity: 0;
    pointer-events: none;
}

.options button {
    text-align: start;
    flex: auto;
    padding: 0;
    font-size: 1.5rem;
    border: transparent;
    background-color: transparent;
    padding: 8px;
    border-radius: var(--border-radius);
}

.options button:hover {
    background-color: rgb(255, 255, 255);
}