* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(146, 211, 241);
}

h1 {
    padding: 25px;
    text-align: center;
    font-size: clamp(25px,3vw,3rem);
}